$color_primary : #56CC9D;
$color_additional: grey;
$color_background: #78C2AD;
$color_menu: #ffffff;

$color_switcher_play: #6CC3D5;
$neutral-lighter: #F3F3F3;
$neutral-light: #E2E5E5;
$color_white: #ffffff;

$content-width: 1197px;
