.cards__wrapper {
    margin-top: 10px;
}

.card {
    margin-bottom: 30px;
    border: none;
    // transform-style: preserve-3d;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.009);
    transition: 1s;
}

.category-list-color {
    background: $color_background;
    color: $color_white;
}

.play-mode {
    background: $color_play;
}

.titleCategory {
    margin: 35px 0 0 10px;
}

.breadcrumb {
    margin-top: -14px;
    margin-bottom: -13px;
}

.breadcrumb.play-mode {
    background: $color_play;
}

.card-game {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}

.correct-card {
    opacity: 0.6;
}