.cards__wrapper {
    margin-top: 25px;
}

.card {
    margin-bottom: 30px;
    border: none;
    // transform-style: preserve-3d;
}

// .card:hover {
//     cursor: pointer;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
// }

.category-list-color {
    background: $color_background;
    color: $color_white;
}

.titleCategory {
    margin: 35px 0 0 10px;
}

.breadcrumb {
    margin-top: -14px;
    margin-bottom: -13px;
}

.card-game {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}