.cards__wrapper {
    margin-top: 25px;
}

.card {
    margin-bottom: 30px;
}

.card:hover {
    cursor: pointer;
}

.category-list-color {
    background: $color_background;
    color: $color_white;
}

.titleCategory {
    margin: 35px 0 0 10px;
}

.breadcrumb {
    margin-top: 30px;
}