.repeat-button {
    background-image: url(../assets/icon-repeat.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 48px;
    background-size: 75px 60px, cover;
    background-position: 50%;
    min-width: 79px;
    margin: 0 auto;
}